name: Blue-Green Deployment
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Blue-Green
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /home/imanolcamacho098/blue-green-dulce

            echo "=== ACTUALIZANDO REPOSITORIO ==="
            git reset --hard HEAD
            git pull origin main

            chmod +x scripts/*.sh

            echo "=== DETECTANDO ENTORNO ACTIVO ==="
        
            ACTIVE=$(awk '/upstream app_upstream/,/}/' /etc/nginx/sites-available/app.conf | grep -o '300[1-2]')
            
            # Si por alguna razón no detecta nada, asumir que blue (3001) es el activo
            if [ -z "$ACTIVE" ]; then
              ACTIVE="3001"
            fi

            echo "Puerto activo actual: $ACTIVE"

            if [ "$ACTIVE" = "3001" ]; then
              NEW_ENV="green"
            else
              NEW_ENV="blue"
            fi

            echo "=== DEPLOYANDO NUEVA VERSION EN $NEW_ENV ==="
            ./scripts/deploy.sh $NEW_ENV

            sleep 15

            echo "=== HACIENDO HEALTH CHECK ==="
            if curl -sf http://127.0.0.1/health >/dev/null; then
              echo "Health OK → Cambiando tráfico"
              ./scripts/switch.sh $NEW_ENV
              echo "=== DESPLIEGUE EXITOSO → $NEW_ENV ACTIVO ==="
            else
              echo "FALLO EN HEALTH CHECK → HACIENDO ROLLBACK"
              ./scripts/rollback.sh
            fi
