name: Blue-Green Deployment

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Blue-Green Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /home/imanolcamacho098/blue-green-dulce

            ACTIVE=$(sudo grep "127.0.0.1" /etc/nginx/sites-available/blue-green.conf | grep -o "808[1-2]" || echo "8081")

            if [ "$ACTIVE" = "8081" ]; then
              NEW_ENV="green"
              NEW_PORT="8082"
            else
              NEW_ENV="blue"
              NEW_PORT="8081"
            fi

            echo "Desplegando nueva versión en $NEW_ENV ($NEW_PORT)"
            git pull origin main
            ./scripts/deploy.sh $NEW_ENV
            sleep 15

            if curl -s http://127.0.0.1:$NEW_PORT > /dev/null; then
              ./scripts/switch.sh $NEW_ENV
              echo "DESPLIEGUE EXITOSO → Ahora está en $NEW_ENV"
            else
              echo "Fallo → Rollback automático"
              ./scripts/rollback.sh
            fi
